<div class="hero-section">
	<div class="hero-wrap global-padding">
		<div class="hero-container">
		<h1 class="hero-bold-title">{{#if @custom.hero_title_text}}{{{@custom.hero_title_text}}}{{else}}<span>Welcome</span> to the Studio 🎨{{/if}}</h1>
		<p class="hero-subtitle">Journals on the journey and the human experience.</p>
	</div>
		{{>search is_hero=true}}
		{{>members/subscribe_form is_hero=true}}
	</div>
</div>