{{#match @custom.widgets "Popular tags"}}
{{#get "tags" limit="7" filter="visibility:public+feature_image:-null" include="count.posts" order="count.posts desc" as |widget|}}
{{#if widget}}
<div class="widget-section global-padding">
	<small class="global-subtitle">{{t "Popular tags"}}</small>
	<div class="widget-wrap is-tags">
		{{#foreach widget}}
		{{#if count.posts}}
		{{>item is_widget=true is_topics=true other_image=feature_image alt=""}}
		{{/if}}
		{{/foreach}}
	</div>
</div>
{{/if}}
{{/get}}
{{else match @custom.widgets "Best authors"}}
{{#get "authors" limit="8" filter="visibility:public+profile_image:-null" include="count.posts" order="count.posts desc" as |widget|}}
{{#if widget}}
<div class="widget-section global-padding">
	<small class="global-subtitle">{{t "Best authors"}}</small>
	<div class="widget-wrap is-authors">
		{{#foreach widget}}
		{{#if count.posts}}
		{{>item is_widget=true is_authors=true other_image=profile_image alt=""}}
		{{/if}}
		{{/foreach}}
	</div>
</div>
{{/if}}
{{/get}}
{{/match}}